
<br>
    <br>
  <ion-content><!--- fullscreen> --->
    <br>
    <br>
    <ion-card color="gray" size="200">
    <ion-item>
      <br>
      <ion-input placeholder="Username"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input placeholder="Password"></ion-input>
    </ion-item>

    <ion-button color="secondary" expand="full" round class="log">Sign In</ion-button>
    <br>
     <ion-checkbox color="dark" checked="true"></ion-checkbox>
     <ion-label> Remember Me</ion-label>
     <br>
     <br>
    <a href="#">Forgot your password?</a>
    <br>
    <a href="#" routerLink="register">Don't have an account yet? Register here</a>
    <br>
    <br>
    <br>
    </ion-card>
  </ion-content>
