.log{
  background: gray;
}
/*ion-card {
    position: relative;
    text-align: center;
    color: blue;
    width: 400px;
    
  }*/
  ion-card{
    position: relative;
    margin-bottom: 20px;
    width:auto;
    margin:auto;
    height: 200px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
  }
  ion-item{
    align-content: center;
   
  }
   ion-input{
      align-content: center;
      opacity: .5;
    }
    placeholder{
      opacity: .5s;
    }
  /*  ion-content{
       align-content: center;
    }*/
    ion-content{
    left: 150px;
    width: 100% auto !important;
  }
  ion-item{
        padding: 3px;
        margin-top: 10px !important;        
        border-radius: 10px;
        border-style: solid;
        border-color: #3f51b5;        
    }  
    ion-button {
        height: 45px;
        margin-top: 10px !important;
    }
