
<br>
    <br>
  <ion-content><!--- fullscreen> --->
    <br>
    <br>
    <ion-card color="gray" size="200">
    <ion-item>
      <br>
      <ion-input placeholder="Username"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input placeholder="Password"></ion-input>
    </ion-item>
    <b
    <ion-button color="secondary" expand="full" round class="log">Sign In</ion-button>
    
    <!---<a href="#" routerLink="resetpassword"> Forgot your password?</a>--->
    <br>
    <!---<ion-label>Don't have an account yet? Register here</ion-label>--->
    <ion-button color="secondary" expand="full" routerLink="/register">REGISTER</ion-button>
    <!---<a href="#" routerLink="register">Don't have an account yet? Register here</a>--->
    <br>
    <br>

     <ion-checkbox color="light" checked="true"></ion-checkbox>
     <ion-label> Remember Me</ion-label>
    <br>
    <br>
    <br>
    <br>
    </ion-card>
  </ion-content>
