

  <ion-content ><!--- fullscreen> --->
    
    <ion-card color="gray" size="200">
    <ion-item>
      <ion-icon name="person"></ion-icon>
      <ion-input placeholder="Email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon name="key"></ion-icon>
      <ion-input placeholder="Password"></ion-input>
    </ion-item>
    <br>
    <ion-button color="secondary" expand="full" round class="log">Sign In</ion-button>
    
    <!---<a href="#" routerLink="resetpassword"> Forgot your password?</a>--->
    <!---<ion-label>Don't have an account yet? Register here</ion-label>--->
    
    <ion-button color="secondary" expand="full" routerLink="/register">REGISTER</ion-button>
    <!---<a href="#" routerLink="register">Don't have an account yet? Register here</a>--->
    

     <ion-checkbox color="light" checked="true"></ion-checkbox>
     <ion-label> Remember Me</ion-label>
    <br>
    <br>
    <br>
    <br>
    </ion-card>
  </ion-content>
