
<br>
    <br>
  <ion-content><!--- fullscreen> --->
    <br>
    <br>
    <ion-card color="gray" size="200">
    <ion-item>
      <br>
      <ion-input placeholder="First Name"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input placeholder="Last Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Mobile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Confirm Password"></ion-input>
    </ion-item>

    <ion-button color="secondary" routerLink="/login" >Register</ion-button>
    <br>
    <br>
    <br>
    </ion-card>
  </ion-content>
